/**
 * Wise Chat core CSS.
 *
 * @author Kainex <contact@kaine.pl>
 * @link http://kaine.pl/projects/wp-plugins/wise-chat-pro
 */

/* Commons: */
.wcContainer {
	position: relative;
}

.wcContainer * {
	-moz-box-sizing: border-box; box-sizing: border-box; color: #111;
}

.wcContainer a {
	box-shadow: none !important;
}

.wcContainer .wcDebug {
    height: 200px; width: 100%; overflow: scroll; border: 2px solid #f00; padding: 5px;
}

.wcContainer .wcInvisible {
	display: none !important;
}

.wcContainer .wcIcon {
	border-radius: none; box-shadow: none; border: none; display: inline-block; vertical-align: middle; margin-bottom: 2px;
}

.wcContainer .wcCenter {
	text-align: center;
}

.wcContainer .wcBottomMargin {
	margin-bottom: 6px;
}

.wcMessage .wcAdminAction {
	border: 1px solid transparent; padding: 2px;
}

.wcMessage .wcAdminAction:hover {
	border: 1px solid #dfdfdf;
}

.wcMessage .wcEmoticon {
	border-radius: none; box-shadow: none; border: none; display: inline-block; vertical-align: middle; margin-bottom: 4px;
}

.wcContainer .wcImage, .wcMessage .wcImage {
	border-radius: none; box-shadow: none; border: none; display: inline-block; vertical-align: middle; margin-bottom: 4px;
}

.wcMessage .wcVideoPlayer {
	border-radius: none; box-shadow: none; border: none; display: inline-block; vertical-align: middle; margin-bottom: 4px;
}

.wcMessage .wcMessageAvatar {
	border-radius: 0px; box-shadow: none; border: none; display: inline-block; vertical-align: middle; margin-bottom: 4px;
	max-width: 48px;
}

.wcContainer .wcMessages .wcMessage .wcMessageContent {
	overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all;-ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
}

.wcContainer .wcMessages .wcMessageHidden {
	background-color: rgba(255, 0, 4, 0.07);
}

.wcWidth300 .wcMessageContent {
	display: block; border-bottom: 1px solid #f3f3f3; margin-bottom: 5px; padding-bottom: 5px;
}

.wcContainer .wcClear {
	clear: both; line-height: 0.1%; font-size: 0.1%; height: 0.1%;
}

/* Container: */
.wcContainer {
	width: 100%;
}

.wcContainer .wcWindowContent {
	padding: 10px; text-align: center;
}

/* Messages list: */
.wcContainer .wcMessages {
	width: 100%; height: 200px; overflow: auto; 
	border: 1px solid #dfdfdf; background-color: #fff; margin: 0px; padding: 0px 5px;
	-webkit-overflow-scrolling: touch;
}

/* Users list: */
.wcUsersListIncluded .wcMessages {
	float: left; width: 70%;  overflow: auto;
}

.wcUsersListIncluded .wcUsersList {
	height: 200px; 	border: 1px solid #dfdfdf; overflow: auto; background-color: #fff; margin: 0px;
	-webkit-overflow-scrolling: touch;
}

.wcUsersListIncluded .wcUsersList a.wcUserInChannel, .wcUsersListIncluded .wcUsersList a.wcUserInChannel:visited {
	text-decoration: none; display: inline-block; width: 100%; padding: 0px 5px; color: #111; outline: none;
}
.wcUsersListIncluded .wcUsersList a.wcUserInChannel:hover {
	background-color: #fafafa; color: #111;
}

.wcContainer .wcUsersCounter {
	font-size: 80%; text-align: right;
}

.wcContainer .wcUsersCounter span {
	font-weight: bold;
}

.wcErrorMessage {
	color: #ff0000;
}

.wcCurrentUserMessage .wcMessageUser {
	font-weight: bold;
}

.wcUsersList .wcCurrentUser {
	font-weight: bold;
}

.wcUserInChannel img.wcUserListAvatar {
	max-width: 30px; margin: 2px 4px 2px 0px; border-radius: 0px; box-shadow: none; border: none; display: inline-block; vertical-align: middle;
}

.wcContainer input.wcInput, .wcContainer textarea.wcInput, .wcContainer progress.wcMainProgressBar {
	width: 100%; font-size: 1em;
}

/* Top controls */
.wcContainer .wcTopControls {
	position: relative;
	height: 32px;
}

.wcContainer .wcTopControls .wcUserListToggle {
	background: url('../gfx/icons/users.png') center center no-repeat;
	width: 32px;
}

.wcContainer .wcTopControls .wcTopControlsButton {
	right: 0px;
	cursor: pointer !important;
	display: inline-block;
	width: 38px;
	height: 32px;
	padding: 0px 3px;
	position: absolute;
}

.wcContainer .wcTopControls .wcTopControlsButton:hover, .wcContainer .wcTopControls .wcUserListToggleEnabled {
	border: 1px solid #dfdfdf;
	cursor: pointer !important;
	outline: 0;
}

.wcContainer .wcTopControls .wcTopControlsButton:active, .wcContainer .wcTopControls .wcTopControlsButton:focus {
	outline: 0;
}

/* Progress bar cross-browser styling */
.wcContainer progress, .wcContainer progress[role]  {
	height: 4px; margin-top: 1px; line-height: 4px; display: block; appearance: none; -moz-appearance: none;
	-webkit-appearance: none; border: none; background-size: auto;
}

.wcContainer progress[role]:after {
	background-image: none;
}

.wcContainer progress[role] strong {
	display: none;
}

/* Progress bar - background */
.wcContainer progress, .wcContainer progress[role][aria-valuenow] {
   background: #ccc !important;
}

.wcContainer progress::-webkit-progress-bar {
    background: #ccc;
}

/* Progress bar - foreground */
.wcContainer progress {
    color: #5789FF;
}

.wcContainer progress::-moz-progress-bar { 
    background: #5789FF;   
}

.wcContainer progress::-webkit-progress-value {
    background: #5789FF;
}

.wcContainer progress[aria-valuenow]:before  {
    background: #5789FF;
}

.wcCustomizations a {
	font-size: 80%;
}

.wcContainer input.wcUserName, .wcContainer input.wcChannelPassword {
	margin-right: 5px; max-width: 200px; width: auto; margin-bottom: 5px;
}

.wcControlsButtonsIncluded .wcCurrentUserName {
	display: block;
}

.wcControlsButtonsIncluded .wcInputContainer {
	overflow: hidden; padding-right: 5px; 
}

.wcControlsButtonsIncluded input.wcInput, .wcControlsButtonsIncluded textarea.wcInput {
	width: 100%;
}

.wcControlsButtonsIncluded input.wcSubmitButton {
	float: right;
}

/* Tool buttons */
.wcControlsButtonsIncluded a.wcToolButton {
	float: right; margin-right: 3px; cursor: pointer !important; display: inline-block; width: 38px; height: 32px; border: 1px solid transparent; padding: 0px 3px;
	position: relative; overflow: hidden;
}

.wcControlsButtonsIncluded a.wcToolButton:hover {
	border: 1px solid #dfdfdf; cursor: pointer !important;
}

.wcControlsButtonsIncluded a.wcToolButton input {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.001; cursor: pointer; z-index: 1000; margin: 0;
}

/* Attachments */
.wcControlsButtonsIncluded a.wcAddImageAttachment {
	background:  url('../gfx/icons/camera.png') center center no-repeat; width: 32px;
}

.wcControlsButtonsIncluded a.wcAddFileAttachment {
	background:  url('../gfx/icons/attach.png') center center no-repeat; width: 32px;
}

.wcControlsButtonsIncluded a.wcInsertEmoticonButton {
    background:  url('../gfx/icons/emoticon.png') center center no-repeat; width: 32px;
}

.wcMessageAttachments {
	margin-top: 2px;
}

.wcMessageAttachments .wcImageUploadPreview {
	max-width: 70px; max-height: 50px; cursor: pointer; display: inline-block; vertical-align: middle; margin-right: 3px;
}

.wcMessageAttachments a.wcAttachmentClear {
	border: 1px solid transparent;
}

.wcMessageAttachments a.wcAttachmentClear:hover {
	border: 1px solid #dfdfdf;
}

/* Compact mode */
.wcInputsCompactMode .wcInputContainer {
	overflow: visible; padding-right: 0px;
}

.wcInputsCompactMode > input, .wcInputsCompactMode > a.wcToolButton {
	margin-top: 5px; margin-right: 0px; margin-left: 3px;
}

/* Image viewer: */
.wcImagePreviewFade { 
    display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: #000; z-index:300021; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70);
}

.wcImagePreview {
	top: 0%; left: 0%; position: absolute; padding: 0px; border: none; background: transparent; z-index:300022; overflow:visible;
	text-align: center;
}

.wcImagePreview img {
	position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); max-width: 100%; max-height: 100%;
	border-radius: 0px; box-shadow: none; border: none;
}

.wcCustomizations label {
	display: inline;
}


.wcCustomizations input[type="checkbox"] {
	vertical-align: middle;
	width: 15px;
	height: 15px;
}

.wcContainer .wcCustomizationsPanel .wcCustomizationsProperty:not(:last-child) {
	margin-bottom: 4px;
}

.wcContainer .wcChannelProtectionHint {
	margin: 10px 0px;
}

.wcContainer .wcChannelAuthorizationError {
	margin: 10px 0px;
	color: #ff0000;
}

.colorPicker-palette {
	width: 216px !important; border: 1px solid #dfdfdf !important; border-radius: 0px !important;
}

.wcEmoticonsLayer {
	width: 185px; height: auto; border: 1px solid #dfdfdf;
	position: absolute; background-color: #EFEFEF; padding: 2px; z-index: 300001;
}

.wcEmoticonsLayer a {
    display: inline-block; padding: 2px; border: 1px solid #EFEFEF;
}

.wcEmoticonsLayer a:hover {
    border: 1px solid #dfdfdf;
}

.wcEmoticonsLayer a img {
    border: none; border-radius: 0px; margin: 0px; padding: 0px;
}

/* Private messages: */
.wcContainer .wcMessagesContainerTab {
	color: #666; display: inline-block; padding: 2px 10px;
}

.wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabLink, .wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabLink:visited {
	color: #666; outline: none; display: inline-block; text-decoration: none;
	max-width: 160px; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;
	vertical-align: bottom;
}

.wcContainer .wcMessagesContainerTab > a {
	border-bottom: 0px;
}

.wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabLink:hover {
	color: #111; outline: none; text-decoration: none;
}

.wcContainer .wcMessagesContainerTabActive {
	border-top: 2px solid #111; color: #111;
}

.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabLink {
	color: #111;
}

.wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabCloseLink, .wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabCloseLink:visited {
	color: #666; outline: none; margin-left: 7px; display: inline-block; text-decoration: none;
}

.wcContainer .wcMessagesContainerTabActive a.wcMessagesContainerTabCloseLink, .wcContainer .wcMessagesContainerTab a.wcMessagesContainerTabCloseLink:hover {
	color: #111; outline: none;
}

/* Private messages - tabs on mobile */
.wcContainer .wcMessagesContainersTabs .wcLeftButton, .wcContainer .wcMessagesContainersTabs .wcRightButton {
	display: none;
}

.wcWidth500 .wcMessagesContainersTabs > :not(.wcMessagesContainerTabActive) {
	display: none;
}

.wcWidth500 .wcMessagesContainerTab a.wcMessagesContainerTabLink, .wcWidth500 .wcMessagesContainerTab a.wcMessagesContainerTabLink:visited {
	max-width: none;
}

.wcWidth500 .wcMessagesContainersTabs > .wcMessagesContainerTabActive {
	width: 100%; text-align: center; padding-left: 18px; padding-right: 18px;
}

.wcWidth500 .wcMessagesContainersTabs > .wcMessagesContainerTabActive > a {
	padding-top: 5px; padding-bottom: 5px;
}

.wcWidth500 .wcMessagesContainersTabs > .wcMessagesContainerTabActive .wcMessagesContainerTabLink {
	width: 100%; display: inline-block; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;
}

.wcWidth500 .wcMessagesContainersTabs > .wcMessagesContainerTabActive > .wcMessagesContainerTabCloseLink {
	position: absolute; right: 42px;
}

.wcWidth500 .wcMessagesContainersTabs {
	padding: 0px 35px 0px 35px;
}

.wcWidth500 .wcMessagesContainersTabs .wcPmNavigationButton, .wcWidth500 .wcMessagesContainersTabs .wcPmNavigationButton:hover {
	display: inline-block; position: absolute; width: 35px;	padding: 7px; padding-top: 9px; line-height: inherit;
	font-size: inherit; text-align: center; text-decoration: none;
}

.wcWidth500 .wcMessagesContainersTabs .wcPmNavigationButton:focus {
	outline: 0; text-decoration: none;
}

.wcWidth500 .wcMessagesContainersTabs .wcPmNavigationButtonDisabled {
	opacity: 0.5;
}

.wcWidth500 .wcMessagesContainersTabs .wcLeftButton {
	left: 0px;
}

.wcWidth500 .wcMessagesContainersTabs .wcRightButton {
	right: 0px;
}

/* Modals: */
.wcModalBackgroundLayer {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(90, 90, 90, 0.7); z-index: 300010;
}

.wcModalBackgroundLayer .wcModalWindow {
	position: absolute; display: inline-block;
}

.wcModalWindow .wcModalHeader {
	color: #fff; background-color: #aaa; padding: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.wcModalWindow .wcModalContent {
	padding: 10px 10px;
}

.wcModalWindow .wcModalFooter {
	background-color: #eee; padding: 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}

.wcModalWindow .wcModalFooterButton {
	float: right; display: inline-block; margin-left: 5px;
}

.wcContainer .wcExternalLoginHint {
	margin: 15px 0px; text-align: center;
}

/* Social */
.wcContainer .wcExternalLoginButtons a {
	width: 200px; display: inline-block; margin: 2px;
}

.wcContainer .wcExternalLoginButtons .wcGoogleLoginButton {
	background: #df4930 url('../gfx/icons/google.png') 12px center no-repeat; display: inline-block; color: #fff; padding: 20px 50px; text-decoration: none; border-radius: 7px; font-size: 1.3em;
}
.wcContainer .wcExternalLoginButtons .wcGoogleLoginButton:hover, .wcContainer .wcExternalLoginButtons .wcGoogleLoginButton:visited {
	color: #fff; text-decoration: none;
}

.wcContainer .wcExternalLoginButtons .wcTwitterLoginButton {
	background: #64ccf1 url('../gfx/icons/twitter.png') 12px center no-repeat; display: inline-block; color: #fff; padding: 20px 50px; text-decoration: none; border-radius: 7px; font-size: 1.3em;
}
.wcContainer .wcExternalLoginButtons .wcTwitterLoginButton:hover, .wcContainer .wcExternalLoginButtons .wcTwitterLoginButton:visited {
	color: #fff; text-decoration: none;
}

.wcContainer .wcExternalLoginButtons .wcFacebookLoginButton {
	background: #507cc0 url('../gfx/icons/facebook.png') 12px center no-repeat; display: inline-block; color: #fff; padding: 20px 50px; text-decoration: none; border-radius: 7px; font-size: 1.3em;
}
.wcContainer .wcExternalLoginButtons .wcFacebookLoginButton:hover, .wcContainer .wcExternalLoginButtons .wcFacebookLoginButton:visited {
	color: #fff; text-decoration: none;
}

/* Error log container styles: */
.wcContainer .wcVisualLogger .wcVisualLoggerInner {
	overflow-y: auto; max-height: 150px; overflow-x: hidden;
}

.wcContainer .wcVisualLogger .wcVisualLoggerInner .wcVisualLoggerMessage {
	color: #a94442; border: 1px solid #dfdfdf; font-size: 80%;
	margin-bottom: 2px;
	padding: 5px 25px 5px 5px;
}

.wcContainer .wcVisualLogger .wcVisualLoggerInner .wcVisualLoggerMessage button {
	position: relative; top: -2px; right: -21px;
	-webkit-appearance: none; padding: 0; background: 0 0; border: 0;
	float: right; font-size: 21px; font-weight: 700;
	color: #000; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20); opacity: .2;
	outline: none; padding-top: 3px;
}

.wcContainer .wcVisualLogger .wcVisualLoggerInner .wcVisualLoggerInfoMessage {
	color: #31708f; border-color: #bce8f1;
}

.wcContainer .wcVisualLogger .wcVisualLoggerInner .wcVisualLoggerMessage button:hover {
	text-decoration: none; cursor: pointer; filter: alpha(opacity=50); opacity: .5;
}

.wcContainer .wcVisualLogger .wcVisualLoggerInner .wcVisualLoggerMessage button span {
	font-size: 21px; font-weight: 700; color: #000;
}

/* Sidebar mode styles */

.wcSidebarMode .wcDebug {
	height: 200px; max-width: 400px; position: fixed; left: 0; bottom: 0;
	z-index: 300010;
}

.wcSidebarMode .wcUsersList {
	width: 200px;
	position: fixed; right: 0; top: 0; bottom: 0; overflow-y: auto; height: auto;
	z-index: 300000; background-color: inherit;
}

.wcSidebarMode .wcMessages {
	width: 400px; position: fixed; z-index: 300000;
}

.wcSidebarMode .wcOperationalSection {
	background-color: inherit;
}

.wcSidebarMode .wcControls {
	position: fixed; z-index: 300000; padding: 7px;
	border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: inherit;
}

.wcSidebarMode .wcModalBackgroundLayer {
	position: fixed;
}

.wcSidebarMode .wcWindowTitle, .wcSidebarMode .wcUsersCounter, .wcSidebarMode .wcCustomizations, .wcSidebarMode .wcVisualLogger {
	position: fixed; z-index: 300000; background-color: inherit;
}

.wcSidebarMode .wcVisualLogger {
	z-index: 300010;
}

.wcSidebarMode .wcCustomizations {
	border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	padding: 0 5px 5px 5px;
}

.wcSidebarMode .wcCustomizations a {
	outline: none;
}

.wcSidebarMode .wcCustomizationsOpen {
	border-top: 1px solid #dfdfdf;
}

.wcSidebarMode .wcUsersCounter {
	border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	padding: 5px 5px 0 5px;
}

.wcSidebarMode .wcWindowTitle {
	cursor: pointer; padding: 2px 10px;
	border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf;
}

.wcSidebarMode .wcWindowTitleActive {
	border-top: 2px solid #111; color: #111;
}

.wcSidebarMode .wcWindowTitle .wcWindowTitleMinMaxLink {
	outline: none; display: inline-block; text-decoration: none;
	background: transparent url('../gfx/icons/minus.png') center center no-repeat;
	position: absolute; right: 8px; top: 3px;
	width: 26px; height: 26px; margin: auto;
}

.wcSidebarMode .wcWindowTitle .wcWindowTitleMinimized {
	background: transparent url('../gfx/icons/plus.png') center center no-repeat;
}

.wcSidebarMode .wcMessagesContainersTabs {
	background-color: inherit;
}

.wcSidebarMode .wcMessagesContainersTabs .wcMessagesContainerTab {
	position: fixed; z-index: 300000; display: block;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	background-color: inherit;
}

.wcSidebarMode .wcMessagesContainersTabs .wcMessagesContainerTabCloseLink {
	background: transparent url('../gfx/icons/x-mark.png') center center no-repeat;
	position: absolute; right: 8px; top: 3px;
	width: 26px; height: 26px; margin: auto; margin-left: 0px;
}

.wcSidebarMode .wcMessagesContainersTabs .wcMessagesContainerTabMinMaxLink {
	outline: none; display: inline-block; text-decoration: none;
	background: transparent url('../gfx/icons/minus.png') center center no-repeat;
	position: absolute; right: 34px; top: 3px;
	width: 26px; height: 26px; margin: auto;
}

.wcSidebarMode .wcMessagesContainerTab a.wcMessagesContainerTabLink, .wcSidebarMode .wcMessagesContainerTab a.wcMessagesContainerTabLink:visited {
	max-width: 75%;
}

.wcSidebarMode .wcMessagesContainersTabs .wcMessagesContainerTabMinimized .wcMessagesContainerTabMinMaxLink {
	background: transparent url('../gfx/icons/plus.png') center center no-repeat;
}

.wcSidebarMode .wcMessagesContainersTabs .wcWindowTitleActive {
	border-top: 2px solid #111; color: #111;
}

.wcSidebarMode .wcMessagesContainersTabs .wcWindowTitleActive a {
	color: #111;
}

.wcSidebarMode .wcMessagesContainersTabs > .wcWindowTitleActive {
	width: auto; text-align: left; padding: 2px 10px;
}

.wcSidebarMode .wcMessagesContainersTabs {
	border: none;
	padding: 0;
}

.wcSidebarMode .wcWindowContent {
	z-index: 300000;
	position: fixed; width: 400px; right: 0; bottom: 0;
	background-color: inherit;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-top: 1px solid #DFDFDF;
}

.wcSidebarMode .wcSidebarModeMobileNavigation {
	z-index: 300009; position: fixed; bottom: 0; left: 0; display: none; background-color: inherit;
	border-top: 1px solid #dfdfdf; width: 100%;
}

.wcSidebarMode .wcSidebarModeMobileNavigationButton, .wcSidebarMode .wcSidebarModeMobileNavigationButton:focus {
	width: 40px; height: 40px; padding: 2px 10px;
	float: right; outline: none; text-decoration: none;
	border-left: 1px solid #dfdfdf;
}

.wcSidebarMode .wcSidebarModeMobileNavigationButton:active, .wcSidebarModeUsersListTogglerEnabled .wcSidebarModeMobileNavigationButton {
	background-color: #dfdfdf; text-decoration: none;
}

.wcSidebarMode .wcSidebarModeUsersListToggler {
	float: right;
	border-left: 1px solid #dfdfdf;
	background: url('../gfx/icons/users.png') center center no-repeat;
}

.wcSidebarMode .wcSidebarModeUsersListToggler:active, .wcSidebarModeUsersListTogglerEnabled .wcSidebarModeUsersListToggler {
	background: #dfdfdf url('../gfx/icons/users.png') center center no-repeat;
}

.wcSidebarMode .wcSidebarModeWindowsNavigationLeft {
	float: right;
	border-left: 1px solid #dfdfdf;
	background: url('../gfx/icons/arrow-left.png') center center no-repeat;
}

.wcSidebarMode .wcSidebarModeWindowsNavigationRight {
	float: right;
	border-left: 1px solid #dfdfdf;
	background: url('../gfx/icons/arrow-right.png') center center no-repeat;
}

/* Sidebar mode - mobile: */
.wcWidth600.wcUsersListEnabled .wcSidebarModeMobileNavigation {
	display: block;
}

.wcSidebarModeUsersListTogglerEnabled .wcUsersList, .wcSidebarModeUsersListTogglerEnabled .wcCustomizations, .wcSidebarModeUsersListTogglerEnabled .wcUsersCounter {
	width: 100% !important; z-index: 300008;
}

.wcWidth600.wcSidebarMode .wcControls, .wcWidth600.wcSidebarMode .wcMessages {
	width: 100% !important;
}

.wcWidth600.wcSidebarMode .wcWindowTitle, .wcWidth600.wcSidebarMode .wcWindowContent {
	width: 100% !important;
}

.wcWidth600.wcSidebarModeUsersListTogglerEnabled .wcSidebarModeWindowsNavigationLeft, .wcWidth600.wcSidebarModeUsersListTogglerEnabled .wcSidebarModeWindowsNavigationRight {
	display: none;
}