{% extends 'adminlte/base.html' %}

{% block content %}
<div class="row">
  <h1 class="text-center">
    {{expediente}}
    <br>
  </h1>
</div>
<br>
<div class="row">
  <section class="col-lg-8">
    <!-- Actualizaciones   -->
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Actualizaciones</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Tipo</th>
            <th>Fecha</th>
          </tr>
          {% for item in actualizaciones %}
          <tr>
            <td>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                <i class="fa fa-eye"></i>
              </button>
            </td>
            <td><span class="label label-success">{{ item.tipo }}</span></td>
            <td>{{ item.fecha_publicado }}</td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ item.fecha_publicado }}</h4>
                </div>
                <div class="modal-body">
                  <p>{{ item.contenido }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          {% endfor %}

        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <td><span class="label label-success">Movimiento</span></td>
    <td><span class="label label-primary">Proveído/Actuación</span></td>
    <td><span class="label label-warning">Escritos/Cargos</span></td>
  </section>

  <section class="col-lg-4">
    <!-- Boton Suscribirse -->
    <div>
      <form action="." method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          
          {% if suscripto %}
            <i class="fa fa-bell-slash"></i> Baja
          {% else %}
            <i class="fa fa-bell"></i> Suscribirse
          {% endif %}

        </button>
      </form>
      <br>
    </div>
    <!-- Caducuidades -->
    <div class="nav-tabs-custom">
      <!-- Tabs within a box -->
      <ul class="nav nav-tabs pull-right">
        <li><a href="#90-dias" data-toggle="tab">90 Dias</a></li>
        <li><a href="#60-dias" data-toggle="tab">60 Dias</a></li>
        <li class="active"><a href="#30-dias" data-toggle="tab">30 Dias</a></li>
        <li class="pull-left header">
          <!-- <i class="fa fa-hourglass-half"></i> -->
          Caducidad
        </li>
      </ul>
      <div class="tab-content">
        <div class="chart tab-pane active" id="30-dias">
          <div>
            <div class="progress-group">
              <span class="progress-text">{{caducidadad.30.fecha|date:"d M Y" }}</span>
              {% if caducidadad.30.falta >= 0 %}
                <span class="progress-number">Faltan: {{caducidadad.30.falta}} Días</span>
              {% else %}
                <span class="progress-number"><strong>Caducado!</strong></span>
              {% endif %}
              
              <div class="progress sm">
                <div class="progress-bar progress-bar-red" style="width: 80%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart tab-pane" id="60-dias">
            <div>
              <div class="progress-group">
                <span class="progress-text">{{caducidadad.60.fecha|date:"d M Y" }}</span>
                <span class="progress-number">Faltan: {{caducidadad.60.falta}} Días</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="chart tab-pane" id="90-dias">
            <div>
              <div class="progress-group">
                <span class="progress-text">{{caducidadad.90.fecha|date:"d M Y" }}</span>
                <span class="progress-number">Faltan: {{caducidadad.90.falta}} Días</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Grafico-->
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-clock"></i>
        <h3 class="box-title">Actividad</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <canvas id="chartActividad" height="200"></canvas>
      </div>
    </div>
    <!-- Detalles -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-clock"></i>
        <h3 class="box-title">Detalles</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <p><strong>Juzgado: </strong>{{expediente.juzgado}}</p>
        <p><strong>Numero: </strong>{{expediente.numero}}</p>
        <p><strong>Actor: </strong>{{expediente.actor}}</p>
        <p><strong>Demandado: </strong>{{expediente.demandado}}</p>
        <p><strong>Causa: </strong>{{expediente.causa}}</p>
      </div>
    </div>
  </section>

  {% endblock %}
