<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>CARGA DE EXPEDIENTE</title>
</head>
<body>

   {% for espediente in expedientes %}
   
   <p>Numero: {{espediente.numero}}</p>
   <p>Fecha: {{espediente.fecha_publicado}}</p>
   <p>Actor: {{espediente.actor}}</p>
   <p>Demandado: {{espediente.demandado}}</p>
   <p>Causa: {{espediente.causa}}</p>
   <article>{{espediente.contenido}}</article>
   <br>
   <br>
   <br>

   {% endfor %}

</body>
</html>